
*.csv
*.csv
*.csv
*.csv
homework/data/example.jpg
homework/data/example.mat
homework/data/example.npy
homework/data/example.pkl
homework/data/example.txt
homework/data/example01.json
homework/data/example02.json
